body{
    background-color: whitesmoke;
}

.row{
    width: 100%;
    overflow: hidden;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button{
    font-size: 4rem;
}

.game-card {
    /* width: 100%; */
    font-family: 'Open Sans', monospace;
}

.modal{
    top: 30%;
}
